select, textarea, button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
}

.title-h2 {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

::placeholder {
    color: #333333;
    opacity: 1;
}

.conteudo-pagina {
    height: 100%;
    text-align: center;
}

.informacao-pagina {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
}

.form-add-fornecedor {
    width: 100%;
    margin: 20px 0;
    padding: 30px 20px;
    border-radius: 8px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-add, .button-back {
    width: 150px;
    margin: 10px 0;
}

.button-add {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;
}

.button-add:hover {
    background-color: #45a049;
}

.button-back {
    background-color: #414141;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    width: 47%;
}

.button-back:hover {
    background-color: #504f4f;
}

.input-nome-fornecedor {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-email-fornecedor {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-uf-fornecedor {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-site-fornecedor {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.alert-success {
    background-color: #c3eccd;
    color: #155724;
    border: none;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #b60c19;
    border: none;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.informacao-pagina-fornecedor {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
}
