.btn-enviar {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn-enviar:hover {
    opacity: 1;
}

.form-nome {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-telefone {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-motivo {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-mensagem {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-contato {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.conteudo-contato {
    height: 75%;
    text-align: center;
    margin-bottom: 100px;
}


.alert-success {
    background-color: #c3eccd;
    color: #155724;
    padding: 5px;
    border: none;
    border-radius: 5px;
    max-width: 300px;
    margin: 0 auto;
}

.alert-danger {
    background-color: #f8d7da;
    color: #b60c19;
    padding: 5px;
    border: none;
    border-radius: 5px;
    max-width: 250px;
    margin: 0 auto;
}

.title-h2 {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
