.menu-produto {
    width: 100%;
    overflow: hidden;
}

.menu-produto .button-wrapper {
    float: left;
    padding: 5px;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza os itens verticalmente */
}

.button-add {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px; /* Adiciona uma margem à esquerda para criar espaço entre os botões */
}


.button-add:hover {
    background-color: #45a049;
}

.button-edit {
    width: auto;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px; /* Adiciona uma margem à esquerda para criar espaço entre os botões */
}

.button-edit:hover {
    background-color: #007a9b;
}

.button-delete {
    width: auto;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px; /* Adiciona uma margem à esquerda para criar espaço entre os botões */
}

.button-delete:hover {
    background-color: #da251d;
}

.conteudo-pagina {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.titulo-produto {
    padding: 70px 0 10px 0;
    margin-bottom: 10px;
    background-color: #2a9ee2;
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: auto; /* Adiciona margem inferior automática */
    max-height: 90vh; /* Define a altura máxima do modal para 90% da altura da viewport */
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo do modal for muito grande */
    display: flex;
    flex-direction: column;
}


.button-save-modal {
    width: auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}

.button-save-modal:hover {
    background-color: #45a049;
}

.button-close-modal {
    width: auto;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}

.button-close-modal:hover {
    background-color: #da251d;
}

.nome-modal {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}

.site-modal {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}

.uf-modal {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}

.email-modal {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}

.close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.button-back {
    width: auto;
    background-color: #414141;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px; /* Adiciona uma margem à esquerda para criar espaço entre os botões */
}

.button-back:hover {
    background-color: #504f4f;
}

.visualizar-produto {
    width: auto;
    background-color: #1220ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px; /* Adiciona uma margem à esquerda para criar espaço entre os botões */
}

.visualizar-produto:hover {
    background-color: #007a9b;
}

.modal-produto {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.select_fornecedor {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.select_unidade {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.nome-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.nome-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}
.nome-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}
.nome-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}
.descricao-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}
.peso-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}
.preco-venda-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}
.estoque-min-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}
.estoque-max-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.unidade-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.largura-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.comprimento-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.altura-modal {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.nome-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.fornecedor-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.unidade-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.descricao-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.peso-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.preco-venda-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.estoque-min-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.estoque-max-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.largura-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.comprimento-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.altura-label {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}


