select, textarea, button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
}

.title-h2 {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteudo-pagina {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.informacao-pagina-produtos {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
}

.form-add-produto {
    width: 100%;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 8px;
}

.button-add {
    width: 50%;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.button-add:hover {
    background-color: #45a049;
}

.button-back {
    width: 50%;
    background-color: #414141;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.button-back:hover {
    background-color: #504f4f;
}

.input-nome-produto {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-preco-venda-produto {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-quantidade-produto {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-peso-produto {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-descricao-produto {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-altura {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-largura {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-comprimento {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.input-codigo-produto {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.titulo-fornecedor {
    padding: 70px 0 10px 0;
    margin-bottom: 10px;
    background-color: #2a9ee2;
    text-align: center;
}

.select_unidade {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.select_fornecedor {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
}

.alert-success {
    background-color: #c3eccd;
    color: #155724;
    border: none;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #b60c19;
    border: none;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}
