.menu-produto {
    width: 100%;
    overflow: hidden;
}

.menu-produto .button-wrapper {
    float: left;
    margin-right: 23px; /* Adiciona uma margem à direita para criar espaço entre os botões */
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza os itens verticalmente */
}

.button-add {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px; /* Adiciona uma margem à esquerda para criar espaço entre os botões */
}


.button-add:hover {
    background-color: #45a049;
}

.filtro-bar {
    margin-bottom: 20px;
}

.filtro-bar input[type="text"],
.filtro-bar button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.filtro-bar input[type="text"] {
    width: 70%;
}

.filtro-bar button {
    width: 95px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filtro-bar button:hover {
    background-color: #45a049;
}

.estatisticas p {
    margin: 10px 0;
}

.estatisticas span {
    font-weight: bold;
}

.autocomplete-suggestion {
    text-align: left; /* Alinha o texto à esquerda */
    cursor: pointer; /* Adiciona um cursor de apontador para indicar que os resultados são clicáveis */
    padding: 5px; /* Adiciona um espaçamento interno para melhorar a aparência */
    border-bottom: 3px solid #ffffff; /* Adiciona uma borda inferior para separar os resultados */
    margin-left: 110px;
}

.search-results {
    margin-top: 10px; /* Adiciona uma margem superior para separar os resultados da barra de pesquisa */
}

.button-edit {
    width: auto;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px; /* Adiciona uma margem à esquerda para criar espaço entre os botões */
}

.button-edit:hover {
    background-color: #007a9b;
}

.button-delete {
    width: auto;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px; /* Adiciona uma margem à esquerda para criar espaço entre os botões */
}

.button-delete:hover {
    background-color: #da251d;
}

.conteudo-pagina {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.titulo-produto {
    padding: 70px 0 10px 0;
    margin-bottom: 10px;
    background-color: #2a9ee2;
    text-align: center;
}
.button-back {
    width: auto;
    background-color: #414141;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px; /* Adiciona uma margem à esquerda para criar espaço entre os botões */
}

.button-back:hover {
    background-color: #504f4f;
}
