body {
    background-color: #f4f4f4;
    color: #333;
}

.titulo-produto {
    padding: 70px 0 10px 0;
    background-color: #2a9ee2;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align: center;
}

.botao-voltar {
    position: absolute;
    top: 160px;
    left: 20px;
    padding: 10px 20px;
    background-color: #504f4f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition-duration: 0.4s;
}

.botao-voltar:hover {
    background-color: #3a3838;
}

.informacoes {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.info-produto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coluna-esquerda, .coluna-direita {
    width: 45%;
}

h3 {
    margin-bottom: 15px;
    color: #2a9ee2;
    font-size: 20px;
    text-transform: uppercase;
}

p {
    margin: 10px 0;
    color: #555;
    line-height: 1.6;
    font-size: 18px;
}

p strong {
    color: #333;
}

@media (max-width: 768px) {
    .info-produto {
        flex-direction: column;
    }

    .coluna-esquerda, .coluna-direita {
        width: 100%;
    }
}
